.isCorrect {
  background-color: #74a070;
}

.isWrong {
  background-color: #b16866;
  text-decoration: line-through;
}

.index {
  text-align: left;
  font-size: 12px;
}

.result {
  margin: 5px 50px;
  text-align: left;
}

.question {
  font-size: 2em;
}

.question input {
  font-size: 1em;
  width: 80px;
}

.keyboard button{
  width: 50px;
  margin: 0;
  border-radius: 0;
}
